{{>Navigation}}

    {{{listarCursos}}}
    <h4>Cerrar Curso:</h4>
    <form action="./Cerrar" method="post">
    {{{listarCursosDisponibles}}}
        <input type="submit" value="Cerrar" class="btn btn-success">
    </form>
{{>footer}}